.file-loader {
    background-color: #242424;
    padding: 16px 48px;
    border: 3px solid #ffc872;
    border-radius: 48px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    color: #ffc872;
}

.file-loader:hover {
    transform: scale(1.04);
}

.file-loader.active {
    background-color: #ffc872;
    color: #242424;
}

.file-loader span {
    font-weight: normal;
}

.thead-dark {
    background-color: #242424;
}

table {
    width: 100%;
}
